<div id="adminView">
    <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} {{timezone}}. You get super secret admin access since you are an admin. Remember, with great power comes great responsibility!!</p>
    <a id="scheduleLink" href="/schedule">User Page</a>
    <a id="logoutLink" href="/logout">Logout</a>
</div>
