<div id="errorPage">
    <h1>Error</h1>
    <p id="errorMessage">{{message}}</p>
    {{#if userPage}}
    <p><a id="userLink" href="/schedule">User Page</a></p>
    {{/if}}
    <p><a id="loginLink" href="/login">Login Page</a></p>
</div>

