<h1>Register</h1>
<div id="error-container" style="color:red;">
  {{#if error}}
    {{error}}
  {{/if}}
</div>
<div id="success-container" style="color:green; display:none;">
  {{#if success}}
    {{success}}
  {{/if}}
</div>

<form id="signup-form" method="POST" action="/register">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
    <label for="timezone">Theme Preference:</label>
    <select id="timezone" name="timezone"> // TODO: Put a list of supported timezones here
        <option value="EST">Eastern Standard Time UTC -04:00</option>
        <option value="CST">Central Standard Time UTC -05:00</option>
        <option value="PST">Pacific Standard Time UTC -07:00</option>
    </select>
    <label for="role">Role:</label>
    <select id="role" name="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
    </select>
    <button id="submitButton" name="submitButton" type="submit">Register</button>
</form>
<p id="login-link">Already have an account? <a href="/login">Click here to log-in</a></p>
<script src="/js/client_side_validation.js"></script>
